
.comment-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #9b06061a;
}

.comment-form input,
.comment-form textarea {
  outline: 1px solid #f4e6d34c;
  max-width: 380px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.comment-form textarea {
  min-height: 100px;
}

.comment-form button {
  background-color: #ff6a00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.comment-form button:hover {
  background-color: #f0900a;
}
